@font-face {
  font-family: Cabin;
  src: url(font/Cabin/static/Cabin-Regular.ttf);
}

@font-face {
  font-family: Spartan;
  src: url(font/Spartan/static/Spartan-Regular.ttf);
}

body {
  font-family: Cabin;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Mise en forme du header */

header {
  font-family: Spartan;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #203e7e;
  border-bottom: 5px solid #001c2e;
}

header img {
  margin-left: 2%;
}

header h1 {
  font-size: 50px;
  color: #f1f1f1;
}

header nav {
  width: 40%;
  margin-right: 5%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
}

nav ul li a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 20px;
}

/* Mise en forme du main */

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 40px;
}

#slogan {
  margin: 80px;
  margin-right: 200px;
  font-size: 45px;
}

/* Mise en forme fonctionnalités */

#fonctionnalites {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#intellisense,
#deploiement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#intellisense p,
#deploiement p {
  width: 60%;
  font-size: 30px;
  padding: 20px;
  line-height: 50px;
}

/* Mise en forme fonctions basiques */

#fonctionsbasiques {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#fonctionsbasiques h2 {
  margin: 50px;
}

#fonctionnalite_conteneur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  margin: 50px;
}

.fonctionnalite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.fonctionnalite p {
  font-size: 25px;
  padding: 20px;
  line-height: 40px;
}
.fonctionnalite img {
  height: 235px;
}

/* Mise en forme de la partie modèle économique et conclusion */

#eco_conclu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#eco_conclu section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#eco_conclu p {
  font-size: 25px;
  padding: 20px;
  line-height: 40px;
  width: 70%;
}

/* Mise en forme de la partie Liens Utiles */

#liens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: baseline;
  width: 80%;
  border-top: 3px solid #222222;
}

#liens h2 {
  margin-top: 35px;
}

#liens ul {
  list-style: none;
  text-align: center;
}

#liens ul li {
  display: inline-block;
}

#liens ul li a {
  display: block;
  padding: 0px 40px;
  margin: 0px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  margin: 0 10px;
}

#liens img {
  height: 50px;
}

/* Mise en forme du footer */

footer {
  font-family: Spartan;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #203e7e;
  border-top: 3px #001c2e solid;
}

footer h1 {
  align-self: center;
  margin: 0;
  margin-left: 5%;
  font-size: 32px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-top: 20px;
  margin-right: 35%;
  overflow: hidden;
}

footer ul li a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 16px;
}

footer p {
  margin-right: 10%;
}
